<div class='damage-buttons'>
	<button class='rsr-wide' data-action='apply-damage' data-multiplier='1' title='{{localize "bugvolution8.chat.buttons.damageFull"}}'>
		<i class='fa-solid fa-xmark'></i>1
	</button>
	<button class='rsr-wide' data-action='apply-damage' data-multiplier='0.5' title='{{localize "bugvolution8.chat.buttons.damageHalf"}}'>
		<i class='fa-solid fa-xmark'></i>1/2
	</button>
	<button class='rsr-wide' data-action='apply-damage' data-multiplier='2' title='{{localize "bugvolution8.chat.buttons.damageDouble"}}'>
		<i class='fa-solid fa-xmark'></i>2
	</button>
	<button class='rsr-wide' data-action='apply-damage' data-multiplier='0.25' title='{{localize "bugvolution8.chat.buttons.damageQuarter"}}'>
		<i class='fa-solid fa-xmark'></i>1/4
	</button>
	<button class='temp' data-action='apply-temp' data-multiplier='1' title='{{localize "bugvolution8.chat.buttons.healingTemp"}}'>
		<i class='fa-solid fa-shield'></i>
	</button>
	<button class='heal' data-action='apply-heal' data-multiplier='1' title='{{localize "bugvolution8.chat.buttons.healing"}}'>
		<i class='fa-solid fa-heart'></i>
	</button>
</div>