<div class='avatar'>
	<img src='{{avatar}}' />
</div>
<div class='content'>
	<div class='message-timestamp'>{{timeSince timestamp}}</div>
	<span class='message-speaker'>
		{{#if isWhisper}}
			{{speaker}}<span class='message-whisper-targets'>{{whisperTo}}</span>:
		{{else}}
			{{speaker}}:
		{{/if}}
	</span>
	{{#if flavor}}
		<div class='message-flavor'>{{flavor}}</div>
	{{/if}}
</div>